body {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  padding: 0;
  font-family: Futura;
  background-color: #5A7684;
  color: #C5D1EB;
}

.board {
  display: table;
  margin: 40px auto;
}

.row {
  display: table-row;
}

.position {
  position: relative;
  display: table-cell;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.outer {
  position: absolute;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-color: rgba(255,255,255,.5);
  border-width: 5px;
  border-radius: 50%;
}


.empty,
.playerOne,
.playerTwo {
  position: absolute;
  top: 9%;
  left: 9%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.empty {
  background-color: rgba(197,209,235,.5);
}

.playerOne {
  background-color: #C5D1EB;
  transition: 1s ease all;
}

.playerTwo {
  background-color: #1F2F16;
  transition: 1s ease all;
}

.playerOne.winner {
  background-color: #92AFD7;
}

.playerTwo.winner {
  background-color: #395B50;
}

.winner {
  top: 9%;
  left: 9%;
  -webkit-animation: spin1 1.5s infinite linear;
}

@-webkit-keyframes spin1 {
0% {
  -webkit-transform: rotateY(0deg);
}
100% {
  -webkit-transform: rotateY(360deg);}
}
